{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Quản lý kiểm duyệt - Admin</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}">
</head>
<body>
    <div class="main-wrapper">
        <header class="navbar">
            <div class="logo">ADMIN <span>PANEL</span></div>
            <nav class="nav-links">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'admin_manage' %}">QUẢN LÝ NGƯỜI DÙNG</a>
            </nav>
        </header>

        <main class="container">
            <h1>Danh sách ảnh chờ phê duyệt</h1>
            <div class="gallery-grid">
                {% for wp in pending_wallpapers %}
                <div class="image-card">
                    <img src="{% static wp.image_path %}" alt="{{ wp.title }}">
                    <p>{{ wp.title }} ({{ wp.category }})</p>
                    <div style="display: flex; gap: 10px; margin-top: 10px;">
        
                        <a href="/approve/{{ wp.id }}/" style="flex: 1; text-align: center; text-decoration: none; display: block; background: #2ecc71; color: white; padding: 10px; border-radius: 5px;">
                            Phê duyệt
                        </a>
        
                        <a href="/reject/{{ wp.id }}/" onclick="return confirm('Bạn chắc chắn muốn xóa ảnh này? Thao tác này sẽ gỡ ảnh khỏi hệ thống!')" style="flex: 1; text-align: center; text-decoration: none; display: block; background: #e74c3c; color: white; padding: 10px; border-radius: 5px;">
                            Từ chối
                        </a>
                </div>
                {% empty %}
                <p style="color: white;">Không có ảnh nào cần duyệt.</p>
                {% endfor %}
            </div>
        </main>
    </div>
</body>
</html>